#menu {
    background: silver;
    width: 900px;
    height: 150px;
    margin-bottom: 20px;
}
#conteiner {
    display: flex;
height: 420px;
    width: 900px;
}
.content {
    width: 700px;
    height: 200px;
    background: #c0c0c0;
    margin-right: 20px;
    margin-bottom: 20px;
}
.content1 {
    width: 180px;
    height: 420px;
    background: #c0c0c0;
}
#conteiner1 {
    display: flex;
    width: 700px;
    justify-content: space-between;
}
.xw {
    height: 200px;
    width: 213px;
    background: #c0c0c0;
    position: relative;
    bottom: 200px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
}